{% extends "general/layout.html" %}

{% block head_title %}Página de Detalles Autores{% endblock  %}
{% block page_title %}Autor{% endblock  %}


{% block page_content %}
    {% if autor %}
        <h2>Nombre del autor: {{autor.nombre}}</h2>
        <p>ID del autor: {{autor.id}}</p>
        <p>Fecha de nacimiento: {{autor.f_nac|date:"d/m/Y"}}</p>
        <p>Volver a la <a href="{% url 'autor:list' %}">lista de autores</a></p>

        <p><a href="{% url "autor:update" autor.pk %}">Editar</a>-
            <a href="{% url "autor:delete" autor.pk %}">Eliminar</a></p>
        

    {% else %}
        <h2>No se ha encontrado el autor</h2>
        <p>Puedes buscar de nuevo en la <a href="{% url 'autor:list' %}"> lista de autores</a></p>
    {% endif %}
{% endblock  %}